{% load static %}

<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <a class="nav-link active" aria-current="page" href="#"><img src="{% static 'assets/img/loja.png' %}" alt="Loja" width="32px" height="32px"></a>
        <small class="d-block mb-3 text-body-secondary">© 2017–2023 TemplateShop</small>
      </div>
      <div class="col-6 col-md">
        <h5>Créditos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="#">Redes Sociais</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Créditos de Criação</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Créditos a Equipe</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Vagas para Desenvolvedores</a></li>
          <li><a class="link-secondary text-decoration-none" href="#"><li><a class="link-secondary text-decoration-none" href="#"><div> Imagens pegas em <a href="https://unsplash.com/pt-br" title="Unsplash"> Unsplash </a></div></a></li>
          <li><a class="link-secondary text-decoration-none" href="#"><div> Ícones feitos por <a href="https://www.flaticon.com/br/autores/freepik" title="Freepik"> Freepik em </a><a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div></a></li>
          
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Suporte</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="#">Número</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Feedback</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Ajuda</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Gmail</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Produtos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="#">Business</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Education</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Government</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Sobre</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="#">Equipe</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Localização</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Privacidade</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Depoimentos</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Termos de Uso</a></li>
        </ul>
      </div>
    </div>
</footer>
</body>